@import 'styles/_variables.scss';

.content {
    position: relative;
    margin: 0 8px;
    cursor: pointer;
    @media(min-width: $tablet) {
        margin: 0 12px;
    }
    @media(min-width: $desktop) {
        margin: 0 16px;
    }
    &__firstChild {
        margin-left: 16px;
        margin-right: 8px;
        @media(min-width: $tablet) {
            margin-left: 24px;
            margin-right: 12px;
        }
        @media(min-width: $desktop) {
            margin-left: 32px;
            margin-right: 16px;
        }
    }
    &__lastChild {
        margin-right: 16px;
        margin-left: 8px;
        @media(min-width: $tablet) {
            margin-right: 24px;
            margin-left: 12px;
        }
        @media(min-width: $desktop) {
            margin-right: 32px;
            margin-left: 16px;
        }
    }
}

.imageContainer {
    width: 240px;
    height: 142.4px;
    position: relative;
    @media(min-width: $tablet) {
        width: 470px;
        height: 234.4px;
    }
    .contentImage {
        border-radius: 8px;
    }
}

.info {
    display: grid;
    gap: 4px;
    align-content: end;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
    @media(min-width: $tablet) {
        padding: 24px;
        h3 {
            font-size: 24px;
        }
    }
    .play {
        z-index: 1;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        gap: 8px;
        padding: 8px;
        border-radius: 16px;
        background-color: $transparent-white;
        img {
            width: 20px;
            height: 20px;
        }
    }
    .bookmark {
        z-index: 1;
        position: absolute;
        top: 8px;
        right: 8px;
        justify-self: end;
        display: flex;
        place-content: center;
        padding: 10px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $transparent-dark-blue;
        @media(min-width: $tablet) {
            top: 16px;
            right: 16px;
            width: 42px;
            height: 42px;
            padding: 12px;
        }
    }
    .bookmark:hover {
        scale: 1.1;
        transition: 0.25s;
    }
    .bookmark:active {
        scale: 1;
        background-color: $dark-blue;
    }
    .description {
        display: flex;
        align-items: center;
        gap: 8px;
        opacity: 75%;
        font-size: 13px;
        @media(min-width: $tablet) {
            font-size: 16px;
        }
        .smallDot {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $white;
            opacity: 75%;
        }
        .category {
            display: flex;
            align-items: center;
            gap: 4px;
            img {
                width: 12px;
                height: 12px;
            }
        }
        .ageRestriction {
            @media(max-width: $tablet) {
                background-color: $transparent-dark-blue;
                padding: 4px 8px;
                border-radius: 20px;
                position: absolute;
                bottom: 16px;
                right: 16px;
            }
        }
    }
}

.info:hover {
    @media(min-width: $desktop) {
        .play {
            opacity: 1;
            transition: 0.5s;
        }
    }
}


.info::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: calc(100% - 4px);
    transition: 0.5s;
    border-radius: 8px;
}

.info:hover::after {
    background-color: #0000007c;
    transition: 0.5s;
}