@import 'styles/_variables.scss';

.scroll {
    
}

.scrollBack, .scrollFront {
    display: none;
    z-index: 2;
    position: absolute;
    top: 48px;
    height: 232.4px;
    padding: 0 32px;
    font-size: 22px;
    background-color: $less-transparent-dark-blue;
    cursor: pointer;
    @media(min-width: $desktop) {
        display: flex;
        align-items: center;
        padding: 0 48px;
        transition: 1s;
    }
}

.scrollFront {
    right: 0;
}

.hideScroll {
    cursor: default;
    z-index: -1;
    opacity: 0;
}