$desktop: '1100px';
$tablet: '768px';

$red: #FC4747;
$dark-blue: #10141E;
$transparent-dark-blue: #10141ea3;
$less-transparent-dark-blue: #10141ec0;
$blue: #161D2F;
$soft-blue: #5A698F;
$white: #FFFFFF;
$transparent-white: #ffffff3d;