@import 'styles/_variables.scss';

.trending {
    position: relative;
    display: grid;
    h1 {
        margin-left: 16px;
        @media(min-width: $tablet) {
            margin-left: 24px;
        }
        @media(min-width: $desktop) {
            margin-left: 32px;
        }
    }
}

.contents {
    display: flex;
    overflow-x: scroll;
}

.contents::-webkit-scrollbar {
    display: none;
}
