@import 'styles/_variables.scss';

.trending {
    position: relative;
    display: grid;
    gap: 16px;
    h1 {
        margin-left: 16px;
        @media(min-width: $tablet) {
            margin-left: 24px;
        }
        @media(min-width: $desktop) {
            margin-left: 32px;
        }
    }
}

.movies {
    display: flex;
    overflow-x: scroll;
}

.movies::-webkit-scrollbar {
    display: none;
}
