@import 'styles/_variables.scss';

.searchBar {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 24px;
    align-items: center;
    gap: 16px;
    margin: 24px 16px;
    @media(min-width: $tablet) {
        grid-template-rows: 32px;
        margin: 32px 24px;
    }
    @media(min-width: $desktop) {
        margin: 0 32px 32px;
    }
}

.searchIcon {
   width: 32px;
}

.searchField {
    max-width: 350px;
    padding: 8px;
    height: 100%;
    font-size: 16px;
    @media(min-width: $tablet) {
        font-size: 24px;
    }
}
