@import 'styles/_variables.scss';

.searchBar {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 24px;
    align-items: center;
    gap: 16px;
    
}

img {
    height: 100%;
}

input {
    padding: 8px;
    height: 100%;
    font-size: 16px;
    @media(min-width: $tablet) {
        font-size: 24px;
    }
}