@import 'styles/_variables.scss';

.recommended {
    display: grid;
    padding: 16px;
    @media(min-width: $tablet) {
        padding: 24px;
    }
    @media(min-width: $desktop) {
        padding: 32px;
    }
}